In [1]:
data = "Pakistan zinda bad"

print(data)

Pakistan zinda bad

In [1]:
data = "Pakistan zinda bad"

print(data)
print(type(data))

Pakistan zinda bad
<class 'str'>

In [3]:
data = "Pakistan zinda bad 123 !@#$"

print(data)
print(type(data))

Pakistan zinda bad 123 !@#$
<class 'str'>

In [5]:
data = 'Pakistan zinda bad"Hello world'

print(data)
print(type(data))

Pakistan zinda bad"Hello world
<class 'str'>

convert special character into normal character
place " \ " in special character

In [4]:
data = 'Pakistan zinda bad\' 123 !@#$  " Hello world '

print(data)
print(type(data))

Pakistan zinda bad' 123 !@#$  " Hello world
<class 'str'>

**assign multiline string**

In [6]:
abc = "Line1 pakistan "\
"Line2 Pakistan "\
"Line3 Pakistan "

print(abc)
print(type(abc))

Line1 pakistan Line2 Pakistan Line3 Pakistan
<class 'str'>

In [7]:
abc = """
line1 hello world
line2 Pakistan
line3 we love our country
"""
abc

'\nline1 hello world\nline2 Pakistan\nline3 we love our country\n'

In [8]:
abc = """
line1 hello world
line2 Pakistan
line3 we love our country
"""
print(abc)
print(type(abc))

line1 hello world
line2 Pakistan
line3 we love our country

<class 'str'>

# concatination and text formation

In [9]:
"1" + 1

TypeError: ignored

In [10]:
"1" + "1"

'11'

In [11]:
1 + 1

2

In [13]:
a = input("Enter no1:")
b = input("Enter no2:")

print(type(a),  type(b))
print(a + b)

Enter no1:7
Enter no2:8
<class 'str'> <class 'str'>
78

# Type Casting

. int()
. str()
. float()
. list()
. tuple()
. dict()
. set()

In [18]:
a = "7"
print(a, type(a))

a = int(a)
print(a, type(a))

a = float(a)
print(a, type(a))

7 <class 'str'>
7 <class 'int'>
7.0 <class 'float'>

In [6]:
a = input("Enter no1:")
b = input("Enter no2")
a = int(a)
b = int(b)
print(type(a), type(b))
print(a + b) # addition operation

Enter no1:1
Enter no21
<class 'int'> <class 'int'>
2

In [26]:
 a = int(input("Enter no1"))
 b = int(input("Enter no2"))
 print(type(a), type(b))
 print(a + b)

Enter no11
Enter no21
<class 'int'> <class 'int'>
2

In [27]:
a = float(input("Enter no1"))
b = float(input("Enter no2"))
print(type(a), type(b))
print(a + b)

Enter no17
Enter no20
<class 'float'> <class 'float'>
7.0

In [28]:
int("1") + 1

2

In [9]:
roll_no = 20
name = "Asfa TABISH"
fname = "Tabish"
contact_no = "03152968211"

card = "NED University \nStudent roll no:" + str(roll_no)+\
"\nStudent name: "+name + "\nFather name:" +fname + "\nContact no: "\
+ contact_no

print(card)

NED University
Student roll no:20
Student name: Asfa TABISH
Father name:Tabish
Contact no: 03152968211

In [10]:
roll_no = 20
name = "Asfa TABISH"
fname = "Tabish"
contact_no = "03152968211"


card = """NED University
Student roll no:{}
Student name: {}
Father name:{}
Contact no: {}""".format(roll_no,name,fname,contact_no)

print(card)

NED University
Student roll no:20
Student name: Asfa TABISH
Father name:Tabish
Contact no: 03152968211

In [11]:
roll_no = 200
name = "Asfa Tabish"
fname = "Tabish"
contact_no = "03152968211"

card = """NED University
Student roll no:{}
Student Name: {}
Father's Name: {}
Contact no: {}""".format(roll_no,name,fname,contact_no)
#                          0      1     2      3

print(card)

NED University
Student roll no:200
Student Name: Asfa Tabish
Father's Name: Tabish
Contact no: 03152968211

In [12]:
roll_no = 20
name = "Asfa TABISH"
fname = "Tabish"
contact_no = "03152968211"

card = f"""NED University
Student roll no:{roll_no}
Student name: {name }
Father name:{fname}
Contact no: {contact_no}"""

print(card)

NED University
Student roll no:20
Student name: Asfa TABISH
Father name:Tabish
Contact no: 03152968211

In [13]:
roll_no = input("roll no")
name = input("Name: ")
fname = input("Father's Name")
contact_no = input("contact no: ")
print('=====================')

card = f"""NED University
Student roll no:{roll_no}
Student Name: {name}
Father's Name: {fname}
Contact no: {contact_no}"""

print(card)

roll no20
Name: Asfa Tabish
Father's NameTabish
contact no:     03152968211
=====================
NED University
Student roll no:20
Student Name: Asfa Tabish
Father's Name: Tabish
Contact no:     03152968211

In [ ]:
%s  string
%d number

In [14]:
roll_no = 20
name = "Asfa Tabish"
"Student name %s \n roll no: %d" % (name,roll_no)

'Student name Asfa Tabish \n roll no: 20'